@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.head {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    height: 50px;
    width: 50px;
    margin-right: 15px;
}

.heading {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    background-color: black;
    padding: 10px;
    flex-wrap: wrap;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.4s;
    border-radius: 20px;
}

.navbar a:hover {
    background-color: rgb(125, 124, 124);
}


.about-section {
  padding: 40px;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.about-section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
}

.about-section p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}